@{
    ViewData["Title"] = "Acceso Restringido";
}
<h1>@ViewData["Title"]</h1>

<p><h3>Información</h3></p>
<p>Su perfil no tiene acceso a este recurso. Si es un error, comuniquese con el administrador del sistema.</p>
<p>Muchas gracias!!!</p>